<div class="mainProfile">
  <img class="picBig" src="{{avatar}}" alt="User Picture">
  <div class="about">
    <h1>{{name}}</h1>
    <p>{{address.city}} <a href="/country/{{address.country}}">{{address.country}}</a> | {{job}} {{company}}
    {{^company}}<span class="unemployed">Available for hire</span>{{/company}}</p>
    <p>{{email}} | {{phone}}</p>
  </div>
</div>
<div class="edAndSkill">
  <div class="edu">
    {{#university}}
      <h3>Education</h3>
    {{/university}}
    <p>{{university}}</p>
  </div>
  <div class="info">
    <h3>Skills</h3>
    <ul>
      {{#skills}}
      <li><a href="/skills/{{.}}">{{.}}</a></li>
      {{/skills}}
    </ul>
  </div>
  <a href="/edit_profile/{{_id}}">
  <button type="button" name"redirect">Edit Profile</button>
  </a>
  </ul>
</div>
