<div class="roboIndx">
  <a href="/index/{{_id}}">
    <img class="picSml" src="{{avatar}}" alt="User Picture">
    <h3>{{name}}</h3>
    <p class="small">{{job}}{{company}}{{^company}}<span class="unemployed">Available for hire</span>{{/company}}</p>
  </a>
</div>
